<ul>
  <% @links.each do |link| %>
    <li>
			<%= link_to "+", votes_path(:vote => {:link_id => link.id, :vote => 1}), :method => :post %> <%= link.votes.where(:vote => 1).count - link.votes.where(:vote => -1).count %>  <%= link_to "-", votes_path(:vote => {:link_id => link.id, :vote => -1}), :method => :post %>
			<%= link_to link.title, link.url %><br>
			<%= link_to "comments", link %>
		</li>
  <% end %>
</ul>
<%= will_paginate @links %>